AI Email Responder.json
{
  "name": "AI Email Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -128
      ],
      "id": "e7f3a059-f09d-4a8f-aea6-071338ba4316",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UVCYvb9mmBdHpDGf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional email assistant. \nWrite a concise, polite, and helpful reply to the email below.\nDo not add a subject line. Sign off as \"Best regards, Tops\"."
            }
          ]
        },
        "options": {
          "system": "=From: {{ $json.From }}\nSubject: {{ $json.Subject }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "f56d7f30-64e7-401f-b824-41d84594c512",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "q1LnQdV0GRHvHq2a",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.content[0].text }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.To }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "2797b0dd-2743-4108-883a-697da43e7f87",
      "name": "Create a draft",
      "webhookId": "8a1daf0a-6ebf-4b84-9df1-8f6514cb277b",
      "credentials": {
        "gmailOAuth2": {
          "id": "UVCYvb9mmBdHpDGf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "437e6133-eef1-4c6b-87bd-b4be3ac8336c",
              "leftValue": "={{ $json.body.length }}",
              "rightValue": 50,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -128
      ],
      "id": "42b473f9-6d1d-49c8-827e-6043b6d65245",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        -224
      ],
      "id": "b84a7fce-dbcc-4766-92be-4d4c527bde0d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WWbWn0AVlB9Sdwd0AyDryPTHuMKxT66kx8IrnobWUsA",
          "mode": "list",
          "cachedResultName": "myContacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWbWn0AVlB9Sdwd0AyDryPTHuMKxT66kx8IrnobWUsA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WWbWn0AVlB9Sdwd0AyDryPTHuMKxT66kx8IrnobWUsA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "7e342799-bc5d-4264-a975-35942b1fe608",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xzI6iBRO03rcG8Sa",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "981694ed-6f1f-4590-bf66-dc236867ac4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5f53f8f81f54c60361d35c33fb697c5a3eb0f8f727d19320ce6b3590588dc63"
  },
  "id": "6XUBqaH9k8AU7Tix",
  "tags": []
}